In [1]:
# Dependencies
import pandas as pd

In [2]:
# File to Load
file_to_load = "Resources/purchase_data.csv"

In [3]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
## Player Count

In [5]:
total_players=purchase_data["SN"].nunique()

In [6]:
pd.DataFrame({"Total Players":[total_players]})

   Total Players
0            576

In [7]:
##Purchasing Analysis (Total)

In [8]:
##Run basic calculations to obtain number of unique items, average price, etc.
##Create a summary data frame to hold the results
##Optional: give the displayed data cleaner formatting
##Display the summary data frame

In [9]:
#Variable and calcualtion for average. 
average_price = purchase_data["Price"].mean()
average_price

3.050987179487176

In [10]:
#Variable and calculation for total revenue.
total_purchase = purchase_data["Price"].sum()
total_purchase

2379.77

In [11]:
#Variable and calculation for number of purchases.
purchase_count = purchase_data["Price"].count()
purchase_count

780

In [12]:
#Variable and calculation for number of unique items. 
unique_items =len(purchase_data["Item ID"].unique())
unique_items

179

In [13]:
#Summary data frame to hold the results
summary_table = pd.DataFrame({"Number of Unique Items":[unique_items],
                             "Average Price":[average_price],
                             "Number of Purchases":[purchase_count],
                             "Total Revenue":[total_purchase]})

#Optional: give the displayed data cleaner formatting
summary_table ["Average Price"] = summary_table["Average Price"].map("${:,.2f}".format)
summary_table ["Total Revenue"] = summary_table["Total Revenue"].map("${:,.2f}".format)
summary_table

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [14]:
##Gender Demographics

In [15]:
##Percentage and Count of Male Players
##Percentage and Count of Female Players
##Percentage and Count of Other / Non-Disclosed

In [16]:
#Groupby 
players_gen = purchase_data.groupby("Gender")
players_gen

# Count the total players "SN" by gender.
gender_count = players_gen.nunique()["SN"]
gender_count

#Percentage of players based on gender.
gender_per = gender_count / total_players * 100

# Create data frame with obtained values
gender_demo = pd.DataFrame({"Percentage of Players": gender_per, "Total Count": gender_count})

# Format the data frame with no index name in the corner
gender_demo.index.name = None


# Create data frame
#gender_demo.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})
gender_demo.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})

In [17]:
##Purchasing Analysis (Gender)

In [18]:
##Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
##Create a summary data frame to hold the results
##Optional: give the displayed data cleaner formatting
##Display the summary data frame

In [19]:
#Groupby
#purchase_data = pd.read_csv(file_to_load)
#gender_purchase_total = purchase_data.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
#gender_average = purchase_data.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
#gender_counts = purchase_data.groupby(["Gender"]).count()["Price"].rename("Purchase Count")

In [20]:
#Variable and calcualtion for purchase count by gender 
purchase_count = players_gen["Purchase ID"].count()
purchase_count

Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [21]:
#Variable and calculation for Average Purchase Price
avg_price = players_gen["Price"].mean()
avg_price

Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [22]:
#Variable and calculation for Average Purchase Total
avg_purchase_total = players_gen["Price"].sum()
avg_purchase_total

Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [23]:
#Variable and calculation for Average Total Per Person
avg_per_person = avg_purchase_total/gender_count
avg_per_person

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [24]:

#Data frame to show the results 
gender_demo = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_price,
                                    "Average Purchase Value":avg_purchase_total,
                                    "Avg Purchase Total per Person": avg_per_person})

# Provide index in top left as "Gender"
gender_demo.index.name = "Gender"

# Format with currency style
gender_demo ["Average Purchase Value"] = gender_demo["Average Purchase Value"].map("${:,.2f}".format)
gender_demo ["Average Purchase Price"] = gender_demo["Average Purchase Price"].map("${:,.2f}".format)
gender_demo ["Avg Purchase Total per Person"]= gender_demo["Avg Purchase Total per Person"].map("${:,.2f}".format)
gender_demo

,Purchase Count,Average Purchase Price,Average Purchase Value,Avg Purchase Total per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [25]:
##Age Demographics

In [26]:
##Establish bins for ages
##Categorize the existing players using the age bins. Hint: use pd.cut()
##Calculate the numbers and percentages by age group
##Create a summary data frame to hold the results
##Optional: round the percentage column to two decimal points
##Display Age Demographics Table

In [27]:
#Bins and labels for ages 
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Sort age values into bins established above
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],bins, labels=age_labels)
purchase_data

#Data frame with "Age Group" and group it
age_grouped = purchase_data.groupby("Age Group")

# Count total players by age category
total_age_count = age_grouped["SN"].nunique()

# Calculate percentages by age category 
per_age = (total_age_count/total_players) * 100

# Create data frame with obtained values
age_table = pd.DataFrame({"Percentage of Players": per_age, "Total Count": total_age_count})

# Format the data frame with no index name in the corner
age_table.index.name = None

# Format percentage with two decimal places 
age_table.style.format({"Percentage of Players":"{:,.2f}"})

In [28]:
## Purchasing Analysis (Age)

In [29]:
##Bin the purchase_data data frame by age
##Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
##Create a summary data frame to hold the results
##Optional: give the displayed data cleaner formatting
##Display the summary data frame

In [30]:
#Bins
bins = [0,9,14,19,24,29,34,39, 100]

# Count purchases by age group
purchase_count = age_grouped["Purchase ID"].count()

# Obtain average purchase price by age group 
avg_purchase_age = age_grouped["Price"].mean()

# Calculate total purchase value by age group 
total_purchase_value = age_grouped["Price"].sum()

# Calculate the average purchase per person in the age group 
avg_per_person_age = total_purchase_value/total_age_count

# Create data frame with obtained values
age_demographics = pd.DataFrame({"Purchase Count": purchase_count,
                                 "Average Purchase Price": avg_purchase_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_per_person_age})

# Format the data frame with no index name in the corner
age_demographics.index.name = None

# Format with currency style
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

In [31]:
## Top Spenders

In [32]:
##Run basic calculations to obtain the results in the table below
##Create a summary data frame to hold the results
##Sort the total purchase value column in descending order
##Optional: give the displayed data cleaner formatting
##Display a preview of the summary data frame

In [33]:
top_spenders=purchase_data.groupby(["SN"])

purchase_count_spenders=top_spenders["Purchase ID"].count()

avg_purchaseprice=top_spenders["Price"].mean()

total_purchase_spenders=top_spenders["Price"].sum()

spender_analysis= pd.DataFrame({"Purchase Count":purchase_count_spenders, 
                                "Average Purchase Price" :avg_purchaseprice,
                                "Total Purchase Value": total_purchase_spenders})

spender_analysis_sort=spender_analysis.sort_values("Total Purchase Value", ascending=False)

# Format with currency style
spender_analysis_sort["Average Purchase Price"] = spender_analysis_sort["Average Purchase Price"].map("$ {:.2f}".format)
spender_analysis_sort["Total Purchase Value"] = spender_analysis_sort["Total Purchase Value"].map("$ {:.2f}".format)

spender_analysis_sort.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                 $ 3.79              $ 18.96
Idastidru52               4                 $ 3.86              $ 15.45
Chamjask73                3                 $ 4.61              $ 13.83
Iral74                    4                 $ 3.40              $ 13.62
Iskadarya95               3                 $ 4.37              $ 13.10

In [34]:
## Most Popular Items

In [35]:
## Retrieve the Item ID, Item Name, and Item Price columns
## Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
## Create a summary data frame to hold the results
## Sort the purchase count column in descending order
## Optional: give the displayed data cleaner formatting
## Display a preview of the summary data frame

In [36]:
popular_items=purchase_data.groupby(["Item ID", "Item Name"])
popular_items.count()

purchase_count=popular_items["Purchase ID"].count()
purchase_count.max()

item_price=popular_items["Price"].mean()

total_purchase_value=popular_items["Price"].sum()
total_purchase_value.max

popular_analysis= pd.DataFrame({"Purchase Count":purchase_count,"Item Price" :item_price,
                                "Total Purchase Value": total_purchase_value})

popular_analysis_sort=popular_analysis.sort_values("Purchase Count", ascending=False)

popular_analysis_sort["Item Price"] = popular_analysis_sort["Item Price"].map("$ {:.2f}".format)
popular_analysis_sort["Total Purchase Value"] = popular_analysis_sort["Total Purchase Value"].map("$ {:.2f}".format)

popular_analysis_sort.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$ 4.61,$ 59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$ 4.23,$ 50.76
145,Fiery Glass Crusader,9,$ 4.58,$ 41.22
132,Persuasion,9,$ 3.22,$ 28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$ 3.53,$ 31.77

In [ ]:
## Most Profitable Items

In [ ]:
## Sort the above table by total purchase value in descending order
## Optional: give the displayed data cleaner formatting
## Display a preview of the data frame

In [ ]:
#Table by purchase value in descending order
#popular_analysis.head()

profitable_analysis=popular_analysis.sort_values("Total Purchase Value", ascending=False)

#Cleaner formatting
profitable_analysis_sort["Item Price"] = profitable_analysis_sort["Item Price"].map("$ {:.2f}".format)
profitable_analysis_sort["Total Purchase Value"] = profitable_analysis_sort["Total Purchase Value"].map("$ {:.2f}".format)

profitable_analysis_sort.head()
popular_sort = popular_items.sort_values(["Total Purchase Value"],ascending=False).head()

In [ ]:
## Observable Trends

In [ ]:
## Of the total number of players, the majority are male(84%), with a smaller portion of female and other players.
## Around 45% of the players are around the age range of 20-24 
## They are also the age group that spends the most overall. But the group age that has the highest average purchase is the ones between 35-59.